#menu {
    width: 200px;
    height: 100%;
    background-color: var(--a);
    position: relative;
}

#menu .menu-item {
    padding: 10px 40px;
    color: var(--d);
    cursor: pointer;
    border-bottom: 1px solid var(--e);

    position: relative;
}

#menu .menu-item:hover {
    opacity: .9;
}


#menu .menu-item.active {
    color: var(--c);
}
#menu .menu-item.active::before {
    content: " ";
    width: 5px;
    background-color: var(--c);
    border-radius: 1px;
    position: absolute;
    left: 2px;
    top: 4px;
    bottom: 4px;
}